<body>
    <div class="card-container">
        <div class="borda-dentro">

            <div class="card-title">
                <h2 class="title-name">{{nome}}</h2>
            </div>
            <div class="card-img-container">
                <img src={{img}}>
            </div>
            <div class="life-bar">
                <p>Vida: {{vida}}</p>
            </div>
            <div class="card-status">

                <img id="sword" src="rpg-game_902996.png" alt="">

                <p id="atk">{{atk}}</p>

                <img id="d20" src="d20.png" alt="">

                <img id="shield" src="escudo2.png" alt="">

                <p id="gua">{{def}}</p>
            </div>
            <div class="card-especial">
                <div class="especial-name-container">
                    <p id="especial-name">Habilidade Especial: {{especialName}}</p>
                </div>
                <p>{{especial}}</p>
            </div>
        </div>

    </div>
</body>