<div class="container">
  <div class="card-creator">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="cardName">
    </mat-form-field>

    <div>
      <label for="card-image">Imagem da Carta</label>
      <input id="card-image" type="file" (change)="onImageUpload($event)" accept="image/*" />
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Efeito</mat-label>
      <textarea matInput [(ngModel)]="cardEffect"></textarea>
    </mat-form-field>
    <mat-label>Atk Value</mat-label>
      <input class="number-inputs" matInput maxlength="2" placeholder="Definir valor de atk" [(ngModel)]="cardAtk">

    <mat-label>Guard value</mat-label>
    <input class="number-inputs" matInput maxlength="2" placeholder="Difinir valor de Defesa" [(ngModel)]="cardGuard">

    <button mat-raised-button color="primary" (click)="generateCard()">Gerar Carta</button>
    <button mat-raised-button color="accent" (click)="downloadCardAsPNG()">Baixar PDF</button>
  </div>
  <div class="card-container">
    @if (showCard) {
    <app-card id="card-preview" [name]="cardName" [effect]="cardEffect" [image]="cardImage" [atk]="cardAtk" [shield]="cardGuard"></app-card>
    }
  </div>
</div>